In [1]:
import pandas as pd
import numpy as np

"""
vehicle_id STRING 车辆唯一标志码
charge_start_time INT 充电开始时间
charge_end_time INT 充电结束时间
mileage FLOAT 充电开始时刻车辆仪表里程（km）
charge_start_soc INT 充电开始时刻动力电池 SOC
charge_end_soc INT 充电结束时刻动力电池 SOC
charge_start_U FLOAT 充电开始时刻动力电池总电压（V）
charge_end_U FLOAT 充电结束时刻动力电池总电压（V）
charge_start_I FLOAT 充电开始时刻动力电池总电流（A）
charge_end_I FLOAT 充电结束时刻动力电池总电流（A）
charge_max_temp FLOAT 充电过程中电池系统温度探针最大值（℃）
charge_min_temp FLOAT 充电过程中电池系统温度探针最小值（℃）
charge_energy FLOAT 此充电过程的充电能量（kWh）
"""

data = pd.read_csv('data/predict_data_e_train.csv')
data = data.sample(frac=1) # 打乱顺序
data[data == 0] = np.nan
data.head()

,vehicle_id,charge_start_time,charge_end_time,mileage,charge_start_soc,charge_end_soc,charge_start_U,charge_end_U,charge_start_I,charge_end_I,charge_max_temp,charge_min_temp,charge_energy
305,2,20180527121119,20180527130020,67716.9,52.0,91.0,362.4,396.7,-33.5,-17.0,33.0,24.0,15.182
1448,4,20180306031848,20180306031858,93773.7,100.0,100.0,550.1,549.8,-4.0,-4.0,35.0,29.0,0.006
308,2,20180529151041,20180529160242,68468.1,9.0,58.0,334.3,NaN,-25.0,NaN,34.0,24.0,NaN
1313,4,20180130142926,20180130151346,86975.4,50.0,NaN,531.7,NaN,-20.0,NaN,29.0,NaN,34.464
1641,4,20180407093409,20180407093419,101538.2,100.0,100.0,551.5,551.0,-2.0,-1.0,28.0,24.0,0.002

In [2]:
data.isnull().sum()

vehicle_id             0
charge_start_time      0
charge_end_time        0
mileage                0
charge_start_soc      27
charge_end_soc       198
charge_start_U         0
charge_end_U         150
charge_start_I         0
charge_end_I         331
charge_max_temp        7
charge_min_temp      448
charge_energy         17
dtype: int64

In [3]:
data = data.dropna(subset=['charge_energy'])
data.head()

,vehicle_id,charge_start_time,charge_end_time,mileage,charge_start_soc,charge_end_soc,charge_start_U,charge_end_U,charge_start_I,charge_end_I,charge_max_temp,charge_min_temp,charge_energy
305,2,20180527121119,20180527130020,67716.9,52.0,91.0,362.4,396.7,-33.5,-17.0,33.0,24.0,15.182
1448,4,20180306031848,20180306031858,93773.7,100.0,100.0,550.1,549.8,-4.0,-4.0,35.0,29.0,0.006
1313,4,20180130142926,20180130151346,86975.4,50.0,NaN,531.7,NaN,-20.0,NaN,29.0,NaN,34.464
1641,4,20180407093409,20180407093419,101538.2,100.0,100.0,551.5,551.0,-2.0,-1.0,28.0,24.0,0.002
435,3,20171202184133,20171202191313,142198.0,5.2,23.2,331.8,361.1,-84.8,-26.0,18.0,8.0,14.134

In [4]:
data.isnull().sum()

vehicle_id             0
charge_start_time      0
charge_end_time        0
mileage                0
charge_start_soc      27
charge_end_soc       198
charge_start_U         0
charge_end_U         137
charge_start_I         0
charge_end_I         317
charge_max_temp        7
charge_min_temp      448
charge_energy          0
dtype: int64

In [5]:
data.to_csv('data/train.csv')