In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('./track_data.csv')
data[data == 0] = np.nan
data.isnull().any()

time          False
state          True
GPS_lon        True
GPS_lat        True
vehicle_id    False
dtype: bool

In [2]:
#data[data == 0] = np.nan
data.tail()

                   time  state     GPS_lon    GPS_lat  vehicle_id
2019376  20180630205033    1.0  109.032992  34.354523           2
2019377  20180630205043    1.0  109.033025  34.354503           2
2019378  20180630205053    1.0  109.033060  34.354556           2
2019379  20180630205103    1.0  109.033071  34.354556           2
2019380  20180630205113    1.0  109.033081  34.354546           2

In [3]:
#A组
#v1=data[(data.vehicle_id==1)&(data.time>=20180505003414)&(data.time<=20180520172231)]
#v2=data[(data.vehicle_id==2)&(data.time>=20180103003659)&(data.time<=20180416091822)]
#v3=data[(data.vehicle_id==3)&(data.time>=20171023235404)&(data.time<=20171204015011)]
#v4=data[(data.vehicle_id==4)&(data.time>=20171021174303)&(data.time<=20171122161235)]
#B组
v1=data[(data.vehicle_id==1)]
v2=data[(data.vehicle_id==2)]
v3=data[(data.vehicle_id==3)]
v4=data[(data.vehicle_id==4)]

v1_2=v1[1:]
v2_2=v2[1:]
v3_2=v3[1:]
v4_2=v4[1:]
v1=v1[:-1].reset_index(drop=True)
v2=v2[:-1].reset_index(drop=True)
v3=v3[:-1].reset_index(drop=True)
v4=v4[:-1].reset_index(drop=True)
v1

                  time  state     GPS_lon    GPS_lat  vehicle_id
0       20180501055520    2.0         NaN        NaN           1
1       20180501055550    2.0  117.267320  31.767820           1
2       20180501055620    2.0  117.267336  31.767808           1
3       20180501055650    2.0  117.267296  31.767862           1
4       20180501055720    2.0  117.267288  31.767878           1
5       20180501055750    2.0  117.267296  31.767902           1
6       20180501055820    2.0  117.267280  31.767920           1
7       20180501055850    2.0  117.267256  31.767938           1
8       20180501055920    2.0  117.267264  31.767942           1
9       20180501055950    2.0  117.267240  31.767922           1
10      20180501060020    2.0  117.267224  31.767924           1
11      20180501060050    1.0  117.267312  31.768066           1
12      20180501060120    1.0  117.267296  31.768082           1
13      20180501060150    1.0  117.267304  31.768068           1
14      20180501060220    1.0  117.267304  31.768076           1
15      20180501060250    1.0  117.267304  31.768076           1
16      20180501060320    1.0  117.267304  31.768082           1
17      20180501060350    1.0  117.267320  31.768096           1
18      20180501060420    1.0  117.268160  31.768696           1
19      20180501060450    1.0  117.269184  31.769360           1
20      20180501060520    1.0  117.271712  31.771066           1
21      20180501060550    1.0  117.272256  31.771346           1
22      20180501060620    1.0  117.271920  31.773886           1
23      20180501060650    1.0  117.269488  31.779268           1
24      20180501060720    1.0  117.266480  31.784154           1
25      20180501060750    1.0  117.265208  31.786078           1
26      20180501060820    1.0  117.264360  31.787352           1
27      20180501060850    1.0  117.261600  31.791836           1
28      20180501060920    1.0  117.262048  31.797626           1
29      20180501060950    1.0  117.258664  31.798940           1
...                ...    ...         ...        ...         ...
146998  20180630234456    2.0  117.267608  31.766804           1
146999  20180630234526    2.0  117.267608  31.766804           1
147000  20180630234556    2.0  117.267608  31.766804           1
147001  20180630234626    2.0  117.267608  31.766804           1
147002  20180630234656    2.0  117.267608  31.766804           1
147003  20180630234726    2.0  117.267608  31.766806           1
147004  20180630234756    2.0  117.267608  31.766806           1
147005  20180630234826    2.0  117.267608  31.766806           1
147006  20180630234856    2.0  117.267600  31.766808           1
147007  20180630234926    2.0  117.267600  31.766806           1
147008  20180630234956    2.0  117.267600  31.766806           1
147009  20180630235026    2.0  117.267600  31.766806           1
147010  20180630235056    2.0  117.267600  31.766808           1
147011  20180630235126    2.0  117.267600  31.766806           1
147012  20180630235156    2.0  117.267600  31.766806           1
147013  20180630235226    2.0  117.267600  31.766806           1
147014  20180630235256    2.0  117.267608  31.766806           1
147015  20180630235326    2.0  117.267608  31.766806           1
147016  20180630235356    2.0  117.267608  31.766806           1
147017  20180630235426    2.0  117.267608  31.766806           1
147018  20180630235456    2.0  117.267584  31.766812           1
147019  20180630235526    2.0  117.267368  31.766938           1
147020  20180630235556    2.0  117.267368  31.766936           1
147021  20180630235626    2.0  117.267376  31.766936           1
147022  20180630235656    2.0  117.267392  31.766932           1
147023  20180630235726    2.0  117.267392  31.766930           1
147024  20180630235756    2.0  117.267440  31.766926           1
147025  20180630235826    2.0  117.267448  31.766928           1
147026  20180630235856    2.0  117.267464  31.766926           1
147027  20180630235926    2.0  117.267440  31.766936           1

[147028 rows x 5 columns]

In [4]:
#data["GPS_lon"].tail()

In [5]:
#print(90-v1["GPS_lon"])
#test=np.pi/2*1000000-Aw*1000000
#print(test)
#print(np.sin(np.pi/2))

In [6]:
Bw1=v1_2["GPS_lat"]
Bj1=v1_2["GPS_lon"]
Aw1=v1["GPS_lat"]
Aj1=v1["GPS_lon"]
Bw1=Bw1.reset_index(drop = True)
Bj1=Bj1.reset_index(drop=True)
Aw1=Aw1.reset_index(drop=True)
Aj1=Aj1.reset_index(drop=True)

Bw2=v2_2["GPS_lat"]
Bj2=v2_2["GPS_lon"]
Aw2=v2["GPS_lat"]
Aj2=v2["GPS_lon"]
Bw2=Bw2.reset_index(drop = True)
Bj2=Bj2.reset_index(drop=True)
Aw2=Aw2.reset_index(drop=True)
Aj2=Aj2.reset_index(drop=True)

Bw3=v3_2["GPS_lat"]
Bj3=v3_2["GPS_lon"]
Aw3=v3["GPS_lat"]
Aj3=v3["GPS_lon"]
Bw3=Bw3.reset_index(drop = True)
Bj3=Bj3.reset_index(drop=True)
Aw3=Aw3.reset_index(drop=True)
Aj3=Aj3.reset_index(drop=True)

Bw4=v4_2["GPS_lat"]
Bj4=v4_2["GPS_lon"]
Aw4=v4["GPS_lat"]
Aj4=v4["GPS_lon"]
Bw4=Bw4.reset_index(drop = True)
Bj4=Bj4.reset_index(drop=True)
Aw4=Aw4.reset_index(drop=True)
Aj4=Aj4.reset_index(drop=True)
cosc=np.cos(np.pi/2-Bw1)*np.cos(np.pi/2-Aw1)+np.sin(np.pi/2-Bw1)*np.sin(np.pi/2-Aw1)*np.cos(Bj1-Aj1)
cosc
c=np.arccos(cosc)
#c#弧度
#L=6371*c
#L
#L.sum()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:38: RuntimeWarning: invalid value encountered in arccos

"""""""""""
import math
a = Bw - Aw;#两点纬度之差
b = Bj - Aj #经度之差
s = 2 * math.asin(math.sqrt(math.pow(math.sin(a / 2), 2) + math.cos(Lat1) * math.cos(Lat2) * math.pow(Math.sin(b / 2), 2)));#计算两点距离的公式
s = s * 6378137.0;#弧长乘地球半径（半径为米）
s = math.round(s * 10000.0) / 10000.0;#精确距离的数值
""""""""""""""""""


第一步：计算三个参数:

    经度差值dx=x2-x2

    纬度差值dy=y2-y1

    平均纬度 b =(y1+y2)*0.5

第二步，计算东西方向距离和南北方向距离(单位：米)

 东西距离采用三阶多项式，南北采用一阶多项式即可

东西距离Lx = (0.05 * b*b*b - 19.16 * b*b + 47.13 * b + 110966 ) * dx

南北距离Ly = (17 * b + 110352) * dy

 

    第三步，用平面的方长形对角距离公式计算总距离：

      总距离 = sqrt ( Lx * Lx + Ly * Ly)

In [7]:
#代码
dx1=Bj1-Aj1
dy1=Bw1-Aw1
b1=(Bw1+Aw1)*0.5
Lx1 = (0.05 * b1*b1*b1 - 19.16 * b1*b1 + 47.13 * b1 + 110966 ) * dx1
Ly1 = (17 * b1 + 110352) * dy1
result1=np.sqrt ( Lx1 * Lx1 + Ly1 * Ly1)
Sum1=result1.sum()

dx2=Bj2-Aj2
dy2=Bw2-Aw2
b2=(Bw2+Aw2)*0.5
Lx2 = (0.05 * b2*b2*b2 - 19.16 * b2*b2 + 47.13 * b2 + 110966 ) * dx2
Ly2 = (17 * b2 + 110352) * dy2
result2=np.sqrt ( Lx2 * Lx2 + Ly2 * Ly2)
Sum2=result2.sum()

dx3=Bj3-Aj3
dy3=Bw3-Aw3
b3=(Bw3+Aw3)*0.5
Lx3 = (0.05 * b3*b3*b3 - 19.16 * b3*b3 + 47.13 * b3 + 110966 ) * dx3
Ly3 = (17 * b3 + 110352) * dy3
result3=np.sqrt ( Lx3 * Lx3 + Ly3 * Ly3)
Sum3=result3.sum()

dx4=Bj4-Aj4
dy4=Bw4-Aw4
b4=(Bw4+Aw4)*0.5
Lx4 = (0.05 * b4*b4*b4 - 19.16 * b4*b4 + 47.13 * b4 + 110966 ) * dx4
Ly4 = (17 * b4 + 110352) * dy4
result4=np.sqrt ( Lx4 * Lx4 + Ly4 * Ly4)
Sum4=result4.sum()

Sum1*0.001

1055175.2577614596

In [8]:
Sum2*0.001

10488003204.128328

In [9]:
Sum3*0.001

18237.999843125028

In [10]:
Sum4*0.001

19217.068252172718

In [17]:
#sinc=np.sqrt(1-np.square(cosc))

In [18]:
#A=np.arcsin((np.sin(90-v1_2["GPS_lat"])*np.sin(Bj=v1_2["GPS_lon"]-v1[:-1]["GPS_lon"]))/sinc)